pip==21.0.1
bump2version==1.0.1
wheel==0.36.2
watchdog==2.0.2
flake8==3.9.0
tox==3.23.0
coverage==5.5
Sphinx==3.5.4
docutils==0.17
cryptography==3.4.7
PyYAML==5.4.1
pytest==6.2.3
beautifulsoup4==4.9.3
gevent==21.1.2
stem==1.7.1
lxml==4.6.3
click==7.1.2
PySocks==1.7.1
urllib3[secure]==1.26.4
